---
import { getCollection } from 'astro:content'

import FancyLink from '@/components/FancyLink.astro'
import PublicationCard from '@/components/PublicationCard'
import PublicationHeader from '@/components/PublicationHeader.astro'
import { getCustomTransition } from '@/lib/customTransition'

const publications = await getCollection('publications')
---

<section id='publications' class='mt-40 scroll-mt-16'>
  <div class='items-center justify-between gap-4 lg:flex'>
    <PublicationHeader forHomePage />
    <FancyLink class='max-lg:hidden' href='/academic/publications'
      >View all publications</FancyLink
    >
  </div>
  <div
    class='mt-12 grid gap-12 sm:grid-cols-2 lg:grid-cols-3'
    transition:animate={getCustomTransition(0.2)}
  >
    {publications.map(({ id, data }) => <PublicationCard slug={id} {...data} />)}
  </div>
</section>