---
import { Location } from '@/components/icons/Location'
import { X } from '@/components/icons/X'
import { Figma } from '@/components/icons/Figma'
import { Codepen } from '@/components/icons/Codepen'

import { cn } from '@/lib/utils'
import ProjectSection from './ProjectSection.astro'

import BentoBadge from './bento/BentoBadge'
import BentoCard from './bento/BentoCard'
import BentoItemCTA from './bento/BentoItemCTA'
import BentoItemFeaturedWork from './bento/BentoItemFeaturedWork'
import BentoItemGithubActivity from './bento/BentoItemGithubActivity'
import BentoItemTechStack from './bento/BentoItemTechStack'
import BentoItemTimeline from './bento/BentoItemTimeline/BentoItemTimeline.astro'
// TODO: Change this to my social media
const socialMedias = [
  { icon: X, href: 'https://twitter.com/jestseee' },
  { icon: Figma, href: 'https://www.figma.com/@jestsee' },
  { icon: Codepen, href: 'https://codepen.io/jestsee' }
]
---

<script>
  document.addEventListener('astro:page-load', () => {
    const bento = document.getElementById('bento')

    if (!bento) return

    bento.onmousemove = (e) => {
      for (const card of document.getElementsByClassName('card')) {
        const rect = card.getBoundingClientRect()
        const x = e.clientX - rect.left
        const y = e.clientY - rect.top

        ;(card as HTMLDivElement).style.setProperty('--mouse-x', `${x}px`)
        ;(card as HTMLDivElement).style.setProperty('--mouse-y', `${y}px`)
      }
    }
  })
</script>

<section
  id='bento'
  class:list={[
    'auto-rows-[minmax(0,1fr)] grid-cols-[repeat(36,_minmax(0,_1fr))] gap-4',
    'flex-col max-lg:grid-cols-6 max-md:flex max-md:gap-4 md:grid'
  ]}
>

  <!-- Timeline -->
  <BentoCard
    className={cn(
      'col-start-1 col-end-[37] row-start-1 row-end-[7]',
      'max-lg:col-start-1 max-lg:col-end-7 max-lg:row-start-1 max-lg:row-end-4'
    )}
  >
    <BentoItemTimeline />
  </BentoCard>

  <!-- Social medias -->
  <div
    class:list={[
      'grid grid-cols-3 gap-4',
      'col-start-1 col-end-11 row-start-7 row-end-[9]',
      'max-lg:col-start-1 max-lg:col-end-4 max-lg:row-start-4 max-lg:row-end-5'
    ]}
  >
    {
      socialMedias.map(({ icon: Icon, href }) => (
        <BentoCard className='aspect-square'>
          <a
            href={href}
            aria-label='Social media'
            target='_blank'
            class='flex size-full items-center justify-center rounded-3xl group-hover:text-accent-primary'
          >
            <Icon className='size-10' />
          </a>
        </BentoCard>
      ))
    }
  </div>

  <!-- CTA -->
  <BentoCard
    className={cn(
      'col-start-11 col-end-[37] row-start-7 row-end-[9]',
      'max-lg:col-start-4 max-lg:col-end-7 max-lg:row-start-4 max-lg:row-end-5'
    )}
  >
    <BentoItemCTA />
  </BentoCard>

  <!-- Github activity & tech stack -->
  <BentoCard
    className={cn(
      'col-start-1 col-end-[21] row-start-9 row-end-[14]',
      'max-lg:col-start-1 max-lg:col-end-4 max-lg:row-start-5 max-lg:row-end-8'
    )}
  >
    <BentoItemGithubActivity />
  </BentoCard>

  <BentoCard
    client:visible
    className={cn(
      'col-start-[21] col-end-[37] row-start-9 row-end-[14]',
      'max-lg:col-start-4 max-lg:col-end-7 max-lg:row-start-5 max-lg:row-end-8'
    )}
  >
    <BentoItemTechStack />
  </BentoCard>




</section>

<style is:global>
  #bento {
    --card-border: var(--border-medium);
    --card-background: var(--bg-elevated);

    scroll-margin: 3rem;
  }

  /* source: https://codepen.io/Hyperplexed/pen/MWQeYLW */
  #bento:hover .card::after {
    opacity: 1;
  }

  .card {
    /* border */
    background-color: var(--border-medium);
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: var(--shadow-md);
  }

  .card:hover::before {
    opacity: 1;
  }

  .card::before,
  .card::after {
    border-radius: inherit;
    content: '';
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: opacity 500ms;
    width: 100%;
    pointer-events: none;
  }

  .card::before {
    background: radial-gradient(
      800px circle at var(--mouse-x) var(--mouse-y),
      rgba(245, 158, 11, 0.08),
      transparent 40%
    );
    z-index: 3;
  }

  .card::after {
    /* border hover */
    background: radial-gradient(
      600px circle at var(--mouse-x) var(--mouse-y),
      var(--card-border),
      transparent 50%
    );
    z-index: 1;
  }

  .card > .card-content {
    /* card background */
    background-color: var(--card-background);
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    inset: 1px;
    z-index: 2;
  }
</style>
