---
import { getCollection } from 'astro:content'

import PublicationCard from '@/components/PublicationCard'
import PublicationHeader from '@/components/PublicationHeader.astro'
import SEO from '@/components/SEO.astro'
import BaseLayout from '@/layouts/BaseLayout.astro'
import { getCustomTransition } from '@/lib/customTransition'
import { projectMetaData } from '@/lib/metaData'

import Decorator from '../_components/Decorator.astro'

const publications = await getCollection('publications')
---

<BaseLayout>
  <SEO
    title={`Publications | ${projectMetaData.title}`}
    description={projectMetaData.description}
    slot='seo'
  />
  <Decorator slot='decorator' />
  <PublicationHeader class='mt-16 sm:mt-40' />
  <section
    class='mt-12 grid gap-12 sm:mt-16 sm:grid-cols-2 lg:grid-cols-3'
    transition:animate={getCustomTransition(0.2)}
  >
    {publications.map(({ id, data }) => <PublicationCard slug={id} {...data} />)}
  </section>
</BaseLayout>
